%% -*- erlang -*-
{erl_opts, [
            warnings_as_errors,
            warn_export_all,
            warn_untyped_record,
            native,
            inline
           ]}. 

{xref_checks, [
               fail_on_warning,
               undefined_function_calls
              ]}.
 
{clean_files, [".eunit/*", "ebin/*.beam"]}.
 
{cover_enabled, true}.
 
{edoc_opts, [
             {doclet, edown_doclet},
             {dialyzer_specs, all},
             {report_missing_type, true}, 
             {report_type_mismatch, true},
             {pretty_print, erl_pp},
             {preprocess, true}
            ]}.
{validate_app_modules, true}.
 
{deps,
  [
%%   {edown, ".*", {git, "git://github.com/sile/edown.git", {branch, "master"}}}
  ]}.
